In [1]:
print("Hello \n world!", "How are you?")

Hello
 world! How are you?

In [2]:
# variables
# these are considered as the containers that store the data
# names of these variables are called as identifiers
# there are certain rules to follow while naming a variable
# 1. it can contain A-Z and a-z (upper case and lowercase letters are different)
# 2. it can contain numbers, but should not start with them
# 3. it can start with an _, no special symbols are allowed

name = "Shaik Khaja"
_age = 20
# 1percentage = 99.99  | can't start with a number
percentage = 99.99

print(name, _age, percentage)

Shaik Khaja 20 99.99

In [3]:
# datatypes

# integer - +ve, -ve, 0
num = -99
print(num, "is : ", type(num))

# decimal - floating point numbers
dec = 6.9
print(dec, "is : ", type(dec))

# string - chars enclosed within quotes
str = "Spiderman"
print(str, "is : ", type(str))

# boolean - True or False
var = True
print(var, "is : ", type(var))

# none - when you don't wanna assingn anything to a variable
x = None
print(x, "is : ", type(x))

-99 is :  <class 'int'>
6.9 is :  <class 'float'>
Spiderman is :  <class 'str'>
True is :  <class 'bool'>
None is :  <class 'NoneType'>

In [5]:
# learnt what are keywords and they are reserved words in any programming language
# learnt style guide to define variables, in python snake_case prefferes 
# based on the above knowledge WAP to calculate the sum of two numbers

num_one = 59
num_two = 10

sum = num_one + num_two

print(sum)

69

In [6]:
# arithmetic operators

a = 10
b = 5

print(a+b)
print(a-b)
print(a*b)
print(a/b) 
print(a%b) # modulo - remainder calculation
print(a**b) # exponent operator - calculates a^b

15
5
50
2.0
0
100000

In [1]:
# relational operators - whose output is either True or False
a = 10
b = 4

print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

True
False
True
False
False
True

In [ ]:
# assignment operator '=' , if a = b means b value is stored in a
a = 5
a += 1
print(a)
a -= 1
print(a)
a *= 2
print(a)
a /= 2
print(a)
a **= 2
print(a)
a %= 2
print(a)

6
5
10
5.0
25.0
1.0

In [7]:
# logical operators - combining two or more relational operators
# and - binary multiplication (1 * 1 => 1) i.e., only if both the conditions are true the output is true
# or - binary addition (0 + 0 => 0) i.e., only if both the conditions are false the output is false
# not - reverse the output

print((5 > 3) and (4 < 0)) # False
print((1 != 1) or (1 >= 1)) # True
print((not(0)))

False
True
True

In [ ]:
# operator precedence
# () > ** > *,/,% > +,- > relational operators > logical operators (not, and, or)
# if operators have same precedence solve from left to right

ans = ((5+1)*2/2**2)
print(ans) # 3

3.0

In [ ]:
# type conversion - implicit by the interpreter
# type casting - explicit by the developer using int(), float() functions
# all these happen only with the compatible types

ans1 = 10/2
ans2 = int(10/2)

print(ans1, type(ans1))
print(ans2, type(ans2))

val = "123"
lav = int(val)

print(val, type(val))
print(lav, type(lav))

5.0 <class 'float'>
5 <class 'int'>
123 <class 'str'>
123 <class 'int'>

In [ ]:
# using the input() function
a = input("enter the value of a : ") # 10
b = input("enter the value of b : ") # 5

sum = a + b
print(sum) # 105 because input() expects strings and when you add two strings it's string concatenation

a = int(input("enter the value of a : ")) # 10
b = int(input("enter the value of b : ")) # 5

sum = a + b
print(sum) # 15 as they are wrapped in the int function

105
15

In [14]:
# WAP to calculate the average of two numbers
a = float(input())
b = float(input())

avg = (a+b)/2

print(f"avg of {a} and {b} is : {avg}")

avg of 6.9 and 9.6 is : 8.25

In [15]:
# Q1 - take name and age as input and print it in a sentence
name = input()
age = int(input())

print(f"Hello {name}, you are {age} years old!")

Hello Shaik Khaja, you are 20 years old!

In [16]:
# Q2 - take two nums as input and calculate sum, diff, prod and quotient
a = int(input())
b = int(input())

print("Sum : ", a+b)
print("Difference : ", a-b)
print("Product : ", a*b)
print("Quotient : ", a/b)

Sum :  15
Difference :  5
Product :  50
Quotient :  2.0

In [18]:
# Q3 - enter two int and one float, convert all to float and calculate average
a = int(input())
b = int(input())
c = float(input())

avg = (a+b+c)/3

print(f"a : {a}, b : {b}, c : {c}")
print("Average : ", float(avg))

a : 10, b : 10, c : 20.69
Average :  13.563333333333333

In [1]:
# Q4 - take a string as input and convert it to int, float and string again. Print three with their types
a = input()
a = int(a)
print(a, type(a))
a = float(a)
print(a, type(a))
a = str(a)
print(a, type(a))

10 <class 'int'>
10.0 <class 'float'>
10.0 <class 'str'>

In [ ]:
# Q5 - evaluate and print
x = 10 + 3 * 2 ** 2
print(x) # 22

22

In [ ]:
# Q6 - swap two numbers 
a = input()
b = input()
print(a, b)
a, b = b, a
print(a, b)

10 20
20 10

In [6]:
# Q7 - temperature input in C(float) => print temperature in F
celsius_temp = float(input())
fahrenheit_temp = (celsius_temp * (9/5)) + 32
print(fahrenheit_temp)

95.0

In [7]:
# Q8 - take radius as input and calculate area of circle
r = int(input())
area = 3.14 * r * r
print(area)

50.24

In [9]:
# Q9 - take P, R, T in float and calculate S.I. 
P = float(input())
R = float(input())
T = float(input())
SI = (P*R*T)/100
print(SI)

10.0

In [11]:
# Q10 - take a deciaml as input split it into int and fraction part
num = float(input())

print(f"Integer part : {int(num)}")
print(f"Fractional part : {num - int(num)}")

Integer part : 45
Fractional part : 0.7800000000000011